body {
    
    color: #666666;
    font-family: "Arial","Helvetica Neue","Helvetica",sans-serif;
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat:no-repeat;
}
header {
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 60px;
    text-align: center;
    color: #FFFFFF;   
    padding-top: 15px;
}
nav {
    background-color: #FFFFFF;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

nav a{
    text-decoration: none;
    
}
h1 {
  margin-top: 0;  
  font-family: Times New Roman,"Times New Roman",serif;  
}

h2 {
    color: #3399CC;
    font-family: Georgia,Times,"Times New Roman",serif;
    text-shadow: 1px 1px 1px #CCCCCC;
  }  
h3 {   
    color: #000033;
    font-family: Cambria,Georgia,serif;
    } 
ul {
    list-style-image: url(images/marker.gif);
}
.resort {
    color: #5C7FA3;
    font-weight: bold;
}
#wrapper{
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    background-color: #FFFFFF;
    box-shadow:  3px 3px 3px #333333;
    margin: auto;
}
#homehero{
    height: 300px;
    background-image: url(images/coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero{
    height: 300px;
    background-image: url(images/yurthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}
#trailhero{
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}


main {
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    list-style-position: inside;
    display: block;
}
#contact {
    font-size: 90%
}
footer {
    padding: 20px;
    font-size: 75%;
    font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
    font-style: italic;
    text-align: center
}