body {
    
    color: #666666;
    font-family: "Arial","Helvetica Neue","Helvetica",sans-serif;
    background-color: #4F6D93;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat:no-repeat;
}
header {
    background-image: url(images/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 60px;
    text-align: center;
    color: #FFFFFF;   
    padding-top: 15px;
}
nav {
    float:left;
    padding: 20px 20px 20px 0px;
    font-weight: bold;
    width: 160px;
    margin:0;
}

nav ul{
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    padding-left:0;
}

nav a:link{
    color:#000033;
}

nav a:visited{
    color: #344873;
}


nav a:hover{
    color: #FFFFFF;
}

h1 {
  margin-top: 0;  
  font-family: Times New Roman,"Times New Roman",serif;  
}

h2 {
    color: #3399CC;
    font-family: Georgia,Times,"Times New Roman",serif;
    text-shadow: 1px 1px 1px #CCCCCC;
  }  
h3 {   
    color: #000033;
    font-family: Cambria,Georgia,serif;
    } 
main ul {
    list-style-image: url(images/marker.gif);
}
.resort {
    color: #5C7FA3;
    font-weight: bold;
}
#wrapper{
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    background-color: #90C7E3;
    box-shadow:  3px 3px 3px #333333;
    margin: auto;
}
#homehero{
    margin-left: 190px;
    height: 300px;
    background-image: url(images/coasthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#yurthero{
    margin-left: 190px;
    height: 300px;
    background-image: url(images/yurthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
}
#trailhero{
    margin-left: 190px;
    height: 300px;
    background-image: url(images/trailhero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}


main {
    padding-top: 1px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    list-style-position: inside;
    display: block;
    background-color: #FFFFFF;
    margin-left: 190px;
    
}
#contact {
    font-size: 90%
}
footer {
    padding: 20px;
    font-size: 75%;
    font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
    font-style: italic;
    text-align: center;
    margin-left: 190px;
    background-color: #FFFFFF;
}